<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Celebrity Cinema Picker</h1>
    <hr>
    <p>The Celebrity Picker is there for users who have a hard time choosing movies or shows to watch.
        The Celebrity Picker will help you choose a movie or show based on celebrities birthdays.
        The Celebrity Picker will also provide you with a brief description of the movie or show.
    </p>
</body>
</html>