{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Celebrity Picker</title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'celebrity_birthdays' %}">Find Celebrities by Date</a></li>
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" class="btn" value="Log Out"/>
          </form>
        </li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
     All Rights Reserved, &copy; {% now "Y" %}
  </footer>
</body>
</html>
