{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Celebrity Picker</title>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <script>
    tailwind.config = {
      theme: {
        fontFamily: {
          sans: ['Inter', 'sans-serif'],
        },
        extend: {
          colors: {
          }
        }
      }
    }
  </script>
  <style type="text/tailwindcss">
    @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/tailwind/output.css' %}">
</head>
<body class="bg-gray-100 text-white-900 dark:bg-gray-900 dark:text-white-100">
  <div class="lg:content-auto">

  <header class="bg-blue-600 shadow-lg">
    <nav class="container mx-auto flex justify-between items-center py-4 px-6">
      <a href="/" class="text-white text-2xl font-bold">Celebrity Picker</a>
      <ul class="flex items-center space-x-6">
        <li><a href="{% url 'about' %}" class="text-white hover:text-gray-300">About</a></li>
        <li><a href="{% url 'celebrity_birthdays' %}" class="text-white hover:text-gray-300">Find Celebrities by Date</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}" class="text-white hover:text-gray-300">Profile</a></li>
          <li>
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="text-white hover:text-gray-300">Log Out</button>
            </form>
          </li>
        {% else %}
          <li><a href="{% url 'signup' %}" class="text-white hover:text-gray-300">Sign Up</a></li>
          <li><a href="{% url 'login' %}" class="text-white hover:text-gray-300">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <div class="lg:content-auto">

  <main class="container mx-auto px-4 py-6">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="bg-blue-600 text-white text-center py-4">
    All Rights Reserved, &copy; {% now "Y" %}
  </footer>
</body>
</html>


