{% extends 'celebritypicker/base.html' %}
{% block content %}

<div class="max-w-4xl mx-auto px-4 py-6">
    <h1 class="text-2xl font-bold text-center mb-4">{{ celebrity.name }}</h1>
    <hr class="border-gray-300">
    <div class="flex flex-col md:flex-row items-center">
        <div class="md:w-1/3 md:mr-4">
            <img src="{{ celebrity.image.url }}" alt="{{ celebrity.name }}" class="rounded-lg w-full h-auto">
        </div>
        <div class="md:w-2/3">
            <p class="text-gray-700 text-lg mt-4">{{ celebrity.description }}</p>
            <p class="text-gray-700 text-lg mt-4">Born on {{ celebrity.birthday }}</p>
            <p class="text-gray-700 text-lg mt-4">Movies and shows:</p>
            <ul class="list-disc ml-6">
                {% for movie in celebrity.movies.all %}
                    <li>{{ movie.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}